<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName = "HootsuiteClientAddin" ?>
<?define Manufacturer = "Interactive Intelligence" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="!(bind.FileVersion.ININ.Alliances.HootsuiteClientAddin.dll)" Manufacturer="$(var.Manufacturer)" UpgradeCode="0DAFC1CA-333F-42A2-8D83-1A782FE4E490">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!--Directory Structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="IcUserAppsFolder" Name="ICUserApps">
            <Directory Id="INSTALLFOLDER" Name="Addins" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--Add the Product Features (Shortcuts and Components)-->
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="ininlogo.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.png" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Icon Id="ininlogo.ico" SourceFile="ininlogo.ico"/>
  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="1C49A73B-C981-43BB-B101-644F963FEA03">
        <File Id="ININ.Alliances.HootsuiteClientAddin.dll" Name="ININ.Alliances.HootsuiteClientAddin.dll" Source="$(var.HootsuiteClientAddin.TargetDir)\ININ.Alliances.HootsuiteClientAddin.dll" Vital="yes" KeyPath="yes" DiskId="1"/>
        <File Id="ININ.Alliances.HootsuiteClientAddin.pdb" Name="ININ.Alliances.HootsuiteClientAddin.pdb" Source="$(var.HootsuiteClientAddin.TargetDir)\ININ.Alliances.HootsuiteClientAddin.pdb" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.HootsuiteClientAddin.TargetDir)\Newtonsoft.Json.dll" Vital="yes" KeyPath="no" DiskId="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>


